<section class="hero" id="hero">
    <app-hero></app-hero>
</section>
<section class="skills" id="skills">
    <app-skills-component></app-skills-component>
</section>
<section class="learning">
    <app-learning-component></app-learning-component>
</section>
<section class="about" id="about">
    <app-about-me></app-about-me>
</section>

<section class="my-projects" id="projects">
    <app-my-projects></app-my-projects>
</section>

<section class="callback" id="contact">
    <app-callback></app-callback>
</section>
