<div class="callback">
    <div class="callback__container">

        <div class="callback__form form">
            <form [formGroup]="callback" (ngSubmit)="onSubmit()">
                <div class="form__input">
                    <input type="text" id="name" formControlName="name">
                    <input type="email" id="email" formControlName="email">
                    <input type="text" id="website" formControlName="website">
                    <textarea name="message" id="message"></textarea>
                </div>
                <div class="form__action">
                   <app-button><div content>Get In Touch</div></app-button> 

                   @for (item of icon; track $index) {
                    <app-squere-link>
                        <div icon><fa-icon [icon]="item.icon|iconTransform"></fa-icon></div>
                    </app-squere-link>
                   }
                </div>
            </form>
        </div>

        <div class="callback__content content">
            <h2 class="content__title">Let's talk about Something special</h2>
            <h3 class="content__subtitle">
                I seek to push the limits of creativity to create high-engaging, user-friendly, and memorable interactive
                experiences.
            </h3>
            <a href="mailto:example@example.com">example&#64;example.com</a>

        </div>
    </div>
</div>