
svg {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: opacity 1s ease forwards 2s;
    path{
        animation: anim-line 2s ease-in forwards 2.5s;
    }
}

@keyframes anim-line {
    to {
        // stroke-dasharray:0;
        stroke-dashoffset: 0;
    }
}

@keyframes opacity {
to{
    opacity: 1;
}
}
