<div class="burger" [ngClass]="{'open': burgerMenuService.isOpen()}">
    <div class="burger__navigation navigation">
        <a [routerLink]="[]" [fragment]="'about'" class="navigation__link" (click)="clickOnLink()">{{'header.aboutMe'| translate}}</a>
        <a [routerLink]="[]" [fragment]="'contact'" class="navigation__link" (click)="clickOnLink()">{{'header.contactMe'| translate}}</a>
        <a [routerLink]="[]" [fragment]="'projects'" class="navigation__link" (click)="clickOnLink()">{{'header.project'| translate}}</a>
        <a [routerLink]="[]" [fragment]="'skills'" class="navigation__link" (click)="clickOnLink()">{{'header.skills'| translate}}</a>
    </div>
</div>