<!-- Мій Шлях Навчання -->
<div class="learning" appLight>
    <h2 class="learning__title">{{'learning.leartningTitleP1'|translate}} <strong>{{'learning.leartningTitleP2'|translate}} </strong></h2>
    <div class="learning__container">
        <div class="learning__wrapper" >
            @if(cards$|async; as cards){
            @for (card of cards; track $index){
            <app-learning-card-component [title]="card.title" [date]="card.date" [description]="card.description" [teacher]="card.teacher">
                 <fa-icon [icon]="card.icon | iconTransform"></fa-icon>  
            </app-learning-card-component> 
            }
        }
        </div>
    </div>