<div class="my-projects" appLight>
    <div class="my-projects__container">
        <div class="my-projects__title">
            <h2>My <strong>Projects</strong></h2>
        </div>
        <div class="my-projects__cards">
            @if (cards$ | async; as cards) {
            @for (item of cards; track $index) {
            <div class="my-projects__cards-wrapper">
                <app-my-projects-card [card]="item" [reverse]="item.reverse|booleanTransform">
                    <fa-icon [icon]="item.icon|iconTransform"></fa-icon>
                </app-my-projects-card>
            </div>
            }
            }
        </div>
    </div>
</div>